*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to right bottom,
    red 20%,
    green,
    purple,
    blue 80%
  );
  max-width: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 0.3rem solid green;
}

@media screen and (min-width: 786px) {
  nav {
    display: flex;
    flex-direction: row;
  }
}

html {
  font-size: 16px;
  _max-width: 70%;
  margin: 0 auto;
  height: 100vh;
}

header {
  background-color: aqua;
  margin: 3rem;
}

.headerlink {
  padding: 1rem;
  background-color: hotpink;
  border: 0.3rem solid green;
}

main {
  height: 70vh;
  border: 0.4rem solid saddlebrown;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(./img/2013-hochzillertal-kaltenbach-1128.jpg);
  background-size: cover;
}

div {
  _background-color: hotpink;
  padding: 1rem;
}

img {
  max-width: 100%;
  display: block;
}

div:last-child {
  _background-color: hotpink;
}
